# Place in the same folder as pixmicat.php

RewriteEngine On
RewriteRule src/11266284o2168.jpg pixmicat.php?mode=module&load=mod_robottrap
RewriteRule src/113145915o542.jpg pixmicat.php?mode=module&load=mod_robottrap
RewriteRule imglist.htm pixmicat.php?mode=module&load=mod_robottrap
RewriteRule allimage.htm pixmicat.php?mode=module&load=mod_robottrap

Order Allow,Deny
Allow from all
